#navbarBlock {
  background-color: #fff;
  height: 70px;
  width: 100%;
  box-shadow: 0 -10px 16px 0px #673ab7;
}
#navbarBlock article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 90%;
  margin: 0 auto;
}

.logoBlock a {
  text-decoration: none;
  color: #9c27b0;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 1.1px;
  font-size: 18px;
  text-shadow: 1px 1px 1px #9c27b0;
}

.logoBlock a svg {
  color: #9c27b0;
  font-weight: 700;
  font-size: 18px;
  position: absolute;
  top: -17px;
  left: 49px;
  filter: inherit;
  border-bottom: 3px solid #9c27b0;
  font-stretch: semi-condensed;
}

.menuBlock {
  flex-basis: 50%;
  display: flex;
  justify-content: flex-end;
}
.menuBlock ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.menuBlock ul a {
  padding: 8px 16px;
  color: #111;
  font-size: 14px;
  text-decoration: none;
  text-transform: capitalize;
}

.dashboardMenu {
  background: #9c27b0;
  color: #fff !important;
  border-radius: 3px;
}
.menuBlock svg {
  margin: -3px 5px;
}

.menuBlock button {
  border: none;
  margin: 0px 9px;
  padding: 7px 9px;
  border-bottom: 2px solid #673ab7;
  cursor: pointer;
  font-size: 16px;
  border-radius: 3px;
}
.menuBlock button svg {
  color: #673ab7;
}
.menuBlock button:hover {
  background-color: #fff;
  border-bottom: 2px solid #673ab7;
}


